{% extends 'base.html.twig' %}

{# % block title %}Hello MainController!{% endblock %#}

{% block body %}

    <div class="row">
        <h1>Hello {{ controller_name }}! </h1>
        {% for w in wishes %}

            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">{{ w.title }}</h4>
                        {% if w.categorie %} <p class="card-text"> Category: {{ w.categorie.nom}} </p>{% endif %}
                        <a href="{{ path('wishes',{id:w.id})}}" class="btn btn-secondary">Detail</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
