.logo
{   width:60px;
    filter: invert(100%) sepia(14%) saturate(2%) hue-rotate(354deg) brightness(110%) contrast(101%);
}

h1
{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
label{
    display:block;
}
/*input,textarea{
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 150px;
    max-width: 50%;
}*/



